
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <td>Тип ГСМ</td>
        <td>Октановое число</td>
        <td>Плотность</td>
        <td>Цена</td>
        <td>Дата</td>
        <td>N емкости</td>
        <td>Приход-расход</td>
        <td>Сотрудник</td>
        <td>Механик</td>
        <td>Спец. отметки</td>
    </tr>
    @foreach (var i in ViewBag.DataFuel)
            {
        <tr>
            <td>@i.FuelType</td>
            <td>@i.Oktan</td>
            <td>i.Plotnost</td>
           
            {
                <td>c.Cena1</td>
                <td>c.Data</td>
            }  
            <td>i.mileage</td>
            <td>i.Drivers.first_name i.Drivers.last_name</td>
            <td>i.date_last_tech_service</td>
            <td>i.Mechanics.first_name i.Mechanics.last_name</td>
            <td>i.spec_marks</td>
        </tr>
    }
</table>



