
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1><a>Автозаправочная станция</a></h1>
    <p class="lead">Добро пожаловать на сайт автозаправочной станции</p>
    <p>
        <a href="http://localhost:53880/Fuels1/Index" class="btn btn-success ">Подробнее о программе &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Список гсм</h2>
        <p>
            В данной таблице отображаються все гсм
        </p>
        <p>
            <a class="btn btn-success " href="http://localhost:53880/Fuels1/Index">Перейти &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Список емкостей</h2>
        <p>В данной таблице отображаются все емкости с гсм</p>
        <p>
            <a class="btn btn-success " href="http://localhost:53880/Emkosts/Index">Перейти &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Отдел кадров</h2>
        <p>Список всех сотрудников</p>
        <p>
            <a class="btn btn-success " href="http://localhost:53880/Sotrudniks/Index">Перейти</a>
        </p>
    </div>
</div>



