
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="body-hna">    контент для сайта
    Для успешного продвижения любого сайта первостепенное значение имеет его текстовое наполнение. С точки зрения поисковых систем, ценность ресурса определяется именно количеством и качеством размещенных на нем статей и других печатных материалов.
    Вопросы качества текста и его правильной оптимизации заслуживают особого рассмотрения в отдельной статье. Здесь лишь отметим, что в первую очередь поисковая машина оценивает, насколько материалы уникальны.
    Но где же взять уникальный контент для сайта, да еще в большом количестве?
    Существует много различных способов его получения, как платных, так и бесплатных, законных и не очень. В данной статье будут рассмотрены основные легальные источники, а также их плюсы и минусы.
    Бесплатные источники контента для сайта
    Самостоятельное написание текстов	Самостоятельное написание текстов (авторский копирайтинг)
    Если вы точно знаете, о чем и как именно писать, а также располагаете свободным временем, то лучшего способа подачи новой информации не найти.
    Плюсы
    Очень высокая уникальность. Как в техническом плане — для поисковых систем, так и в смысловом — для посетителей.
    Вы создаете именно такой контент, который вам нужен. Ни больше ни меньше.
    Если вы хорошо и много пишете сами, это способствует росту вашей репутации как эксперта.
    Самостоятельное написание текстов для сайтов, помимо практической пользы, приносит еще и удовольствие от собственного творчества.
    Минусы
    Один из самых трудоемких и «времязатратных» способов.
    Необходимо уметь лаконично и доступно излагать мысли.
    Нужно очень хорошо разбираться в тематике сайта.
    Самостоятельный рерайт	Самостоятельный рерайт чужих текстов
    Очень популярный способ благодаря своей сравнительной простоте и доступности. Следует различать ручной рерайт (изложение исходного текста своими словами) и машинный (обработка текста специальной программой или сервисом). Хороший ручной рерайт является настоящим искусством. Результаты же м</div>

